body {
    background-color: #383346;
    font-family: 'Pattaya', sans-serif;
}

.navbar {
    font-size: 36px;
    color: white;
    height: 75px;
    display: flex; 
    align-items: center;  /*Aligns vertically center */
    background-color: #f4a261; /*Laranja*/
    margin-bottom: 50px;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /*Aligns horizontally center */
}

.navbar .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /*Aligns horizontally center */
}

.card {
    font-size: 36px;
    color: white;
    background-color: #e76f51; /*Vermelha*/
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    display: flex; 
    align-items: center;  /*Aligns vertically center */
    justify-content: center; /*Aligns horizontally center */
}

.card-sec {
    background-color: #f4a261; /*Laranja*/
}

